.container1{
  width:100%;
  display: flex; 
  min-height: 600px;
  height:auto;
  background-color:#FFFDF6;
  align-items: center;
}


.line1{
  margin-top:-15px;
  margin-bottom:8%;
  width: 370px;
  border: 1.5px solid rgba(81, 187, 232, 0.7);
}

.header{
  text-align: center;
  position:relative;
  width:100%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.header1{
  width: 60%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.icon2{
  margin-top:5%;
  margin-bottom:8%;
  width: 60px;
  height: auto;
}

.star_b{
  width:44px;
  height: 48px;
}

.star_y{
  width:50px;
  height: 50px;
  
}

.star_w{
  width:44px;
  height: 48px;
}

.star_l1{
  position: absolute;
  left: 7%;
  top: 25%;
}

.star_l2{
  position: absolute;
  left: 3%;
  top: 38%;
}

.star_l3{
  position: absolute;
  left: 9%;
  top: 48%;
}

.star_l4{
  position: absolute;
  left: 5%;
  top: 58%;
}

.star_l5{
  position: absolute;
  left: 12%;
  top: 73%;
}

.star_r1{
  position: absolute;
  right: 8%;
  top: 29%;
}

.star_r2{
  position: absolute;
  right: 11%;
  top: 38%;
}

.star_r3{
  position: absolute;
  right:6%;
  top: 50%;
}

.star_r4{
  position: absolute;
  right: 13%;
  top: 70%;
}

.star_r5{
  position: relative;
  left: 90%;
  top: -2vw;
}

.star_r6{
  position: relative;
  left: 61%;
  top: 0vw;
}


.line2{
  display:block;
  margin-top:1%;
  margin-bottom:4%;
  margin-left:auto;
  margin-right:auto;
  width: 200px;
  border: 1.5px solid rgba(81, 187, 232, 0.7);
}


h4{
  margin-top:10%;
  
}


.img_display{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}


.button1{
  background: #51BBE8;
  border-radius: 8px;
  color: #F6F8F9;
  text-align: center;
  width:160px;
  height:47px;
  display:block;
  margin-top: 1%;
  margin-bottom: 6%;
  display:flex;
  justify-content: center;
  align-items: center;
  border:0;
}

.line3{
  width: auto;
  margin-bottom:3%;
  margin-top:-15px;
  border: 1.5px solid rgba(81, 187, 232, 0.7);
}

#why_us {
  padding-top: 55px; 
  /* padding-bottom: 55px;  */
}

#additional_service {
  padding-bottom: 55px; 
}

.small_percentage {
  width: 30% !important;
}

.large_percentage {
  width: 70% !important;
}



@media (max-width: 850px) {
  .button1{ 
      font-size : 0.8em;
  }
}

@media (max-width: 600px) {
  .star_l1{
      position: relative;
      left: -12%;
      margin-top: -50%;
  }
  
  .star_l2{
      position: relative;
      left: -13%;
      margin-top: -30%;
  }
  
  .star_l3{
      position: relative;
      left: 13%;
      margin-top: -30%;
  }

  .star_l4{
      position: relative;
      left: 12%;
      margin-top: -50%;
  }
  
  .star_l5{
      display:None;
  }

  .star_r1{
      display:None;
  }

  .star_r2{
      display:None;
  }

  .star_r3{
      display:None;
  }

  .star_r4{
      display:None;
  }

  
  .grid-text{
      font-size: 4vw;
      line-height: 7vw;
  }

  .grid-item{
      max-height: 900px;
      height:auto;
  }

  .line3{
      width: auto;
  }
}


.content_half {
  height: 85%; 
  display: table; 
  width: 100%;
}

.half_style {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

.center_style {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.photo_center_style {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.small_center_style {
  margin-left: auto; 
  margin-right: auto; 
  /* width: 40%; */
}

.nine_stars_position {
  margin-top: 50px;
  margin-bottom: 50px; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 450px; 
}

body {
  background-color: #FFFDF6;
}




.blue_background {
  background: rgba(81, 187, 232, 0.7);
}

.background_content_light {
  background: #FFFDF6;
}

.star_style_list li:nth-child(3n+1){
  list-style-image: url(../img/Cong/star3.png);
}
.star_style_list li:nth-child(3n+2){
  list-style-image: url(../img/Cong/star1.png);
}
.star_style_list li:nth-child(3n+3){
  list-style-image: url(../img/Cong/star2.png);
}

/*推荐课程*/
.neirong {
  margin-top: 40px; 
}

#SpecialSession{
  margin-left: 10%;
  margin-bottom: 0;
}
.grid-kecheng{
display: grid;
margin: 20px 10%;
grid-template-columns: 33% 33% 33%;
}

.grid-kecheng p{
margin-left: auto;
margin-right: auto;
padding: 170px 0px;
text-align: center;
color: #F6F8F9;
}

#AIT{
background-image: url(../img/Cong/camp/a43b42_049ee034b08c4ad6a27a55b93b9351c5~mv2_d_5819_3879_s_4_2.png);
background-size: cover;
}
#ANT{
background-image: url(../img/Cong/camp/a43b42_48601bb6fc5249308239a5f6e53b37e6~mv2%E5%89%AF%E6%9C%AC.png);
background-size: cover;
}
#RBT{
background-image: url(../img/Cong/camp/a43b42_d014adf2b4854e3ab191681128548b3a~mv2_d_5089_2863_s_4_2.png);
background-size: cover;
}

.grid-kecheng a:hover{
background-color: #F6F8F9;
text-emphasis-color: #221916;
opacity: 0.8;
}

#moreSession:hover {
background-color: #45a049;
}

#moreSession{
  background-color: #51BBE8;
  color: white;
  padding: 15px 23px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin: 0px 0 0px 10%;
}

#moreSessionMobile{
display: none;
}

/*学校分部*/
.neirong{
  background-image: url(../img/Cong/camp/Webp.net-resizeimage-12.png);
  overflow: hidden;
}

.neirong > h3{
  padding-top: 5%;
    margin-bottom: 0px;
  margin-left: 5% !important;
  color: #F6F8F9;
  text-align: left;
}

.grid-container{
  display: grid;
  /* margin-left: 10%; */
  margin-top: 5%;
  grid-template-columns: 25% 25% 25% 25%;
 justify-items: center;
}

.grid-container li{
    list-style-image: url(../img/Cong/star2.png);
}
.grid-container h3{
    color: #F6F8F9;
    font-size: 1.0em;
    margin: 0px;
}
.grid-container a{
  color: #F6F8F9;
  text-decoration: underline;
  font-size: 1em;
}

.grid-container a:hover{
  color: rgba(81, 187, 232, 0.7);
}

.neirong > li{
  padding: 5% 8%;
  color: #F6F8F9;
}

img.cartoon_figure {
  max-width: 40% !important; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

@media (max-width: 600px) {
  ul.course_requirement {
    width: 252px !important; 
  }
  .small_percentage {
    width: 100% !important; 
  }

  .large_percentage {
    width: 100% !important; 
  }

  .neirong > h3 {
    text-align: center;
    margin-left: 0px !important;
  }

  #SpecialSession {
    margin-left: 0px;
  }
  #summer_camp_header {
    text-align: center !important; 
  }
  p {
    text-align: justify;
  }
  h3 {
    text-align: center; 
  }

  .nine_stars_position {
    width: 100%;
  }

  .half_style {
    width: 100%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
  }

  .small_center_style {
    width: 90%;
  }

  .img_display {
    display: block;
  }

  h1.main_title {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top:3%;
    margin-bottom:3%;
  }

  .img_display_none {
    display: none;
  }

  h1.main_title {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top:3%;
    margin-bottom:3%;
  }
  .title{
    min-height: 400px;
    background-image: none;
  }
  .title h1{
    margin-top: 60px;
    text-align: center;
  }
  .title #info{
  margin: 10% 20px;
}
  #firstSection h3{
    width: 100%;
    margin-top: 20;
  }
  #firstSection p{
    margin: 0% 10% 10% 10%;
    width: auto;
  }
  #firstSection img{
    width: 100%;
    margin-top: 0;
  }
/*    ---*/
  #secSection img{
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
  }
  #secSection h3{
    margin: 20px 5%;
    float:left;
  }
  #secSection ul{
    width: 90%;
    margin: 5%
  }

/*  ---*/
  .neirong{
  background-image: url(../img/Cong/camp/tower.png);
    background-repeat: no-repeat;
    background-size: cover;
}
  .grid-container{
    letter-spacing: 3px;
    display: grid;
    margin-left: 0px !important;
    margin-top: 0px !important;
    text-align:center;
    grid-template-columns: 100%;
  }
  .grid-container li{
        font-size: 1em;
  }
  .grid-container a{
    text-decoration: underline;
  }
  .grid-container h3{
    margin-top: 50px;
  }
  .grid-mid-right{
    margin-left: 0px;
  }
  .grid-mid-right li{
    margin-left: 2;
  }
  .grid-right{
    margin-left: 0px;
  }
  .neirong > li{
    padding: 50px 20px ;
    text-align: center;
/*---*/

  }
  .grid-kecheng{
    display:block;
    margin: 0px 5%;
  }
  .grid-kecheng p{
  padding: 100px 0px;
}
  #moreSession{
    display: none;
  }
  #moreSessionMobile{
    display: block;
    text-align: center;
    color: #F6F8F9;
    margin: 30px ;
    background: #51BBE8;
    border-radius: 8px;
    padding: 15px 23px;
  }
    
/*  ---*/
  #zhusu{
    display: none;
  }
  #zhusuMobile{
    display: block;
      text-align: center;
  }
  #zhusuMobile h3{
      margin-top: 50px;
    text-align: center;
  }
/*  ---*/
  #whyUs li{
    width: 80%;
    margin: 10%;
  }
  #whyUs h3{
    float: right 10%;
    margin-top: 40px;
    margin-bottom: 4px;
  }
  #whyUs img{
    width: 0%
  }
  #whyUs p{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #SLine{
    margin-left: -0px;
    width: 100%;
  }

  #fuwu h2{
    margin-left: 30px;
  }
  #fuwu ul{
    margin-top: 50px;
    width: 100%;
  }
  #fuwu img{
    display: none;
    margin-top: 0px;
    margin: 10px;
    width: 20%
  }
  #fuwu a{
    width: 70%;
  }
}

ul.course_requirement {
  /* margin-left: 15%; */
  width: 303px;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

.star_line {
  text-align: center; 
}

.img_display {
  display: block;
}

.button_blue{
	background-color: #51BBE8; /* Blue */
  border: none;
  color: #F6F8F9;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;  /*same size as the paragraph*/
	line-height: 1.5em;
	border-radius: 8px;
  letter-spacing: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.button_blue:hover {
	background-color: #FFF8DF;
  color: #51BBE8;
  cursor: pointer; 
}