/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

.section1-BG{
    background-image: url(../img/Daisy/BlueHeaderBG-withStars.png);
    height: 796px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

section {
  margin-bottom: 0px !important; 
}

.divider{
  border-bottom: #FBF8EC solid 3px;
  width: 3%;
  margin: auto;
}

.header-subtitle, .header-title, .header-intro {
  text-align:center;
}

.header-title{
  padding-top: 6em;
}

.BlueArrow{
  text-align: center;
  margin: 8em;
}

.BlueArrow img{
  width: 5%;
  height: 5%;
}

.section2-BG{
  background: #FFFDF6;
}

* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  padding-left: 20px;
  border: 1px dashed #51BBE8;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #221916;
}

input[type=submit] {
  background-color: #51BBE8;
  color: white;
  padding: 15px 23px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1em;

}

input[type=submit]:hover {
  background-color: #45a049;
}

.section2 {
  border-radius: 5px;
  background-color: #FFFDF6;
  padding: 150px;
  position: relative;
}

.Star_Yellow{
  position: absolute;
width: 46px;
height: 44px;
left: 84%;
top: 15%;
}

.left_kid{
	position: absolute;
	width: 227px;
	height: 196px;
	left: -3%;
	top: 5%;
}

.right_kid{
	position: absolute;
	width: 227px;
	height: 219px;
	left: 80%;
	top: 65%;
}

  /* ---------test footer --------------

 footer{
  background-color: #51BBE8;
  min-height: 185px;
  background-image: url(../img/Daisy/Footer-CN.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
      width: 100%;
 }

 .footer-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin:0;
}

 .item6{
  grid-area: 1 / 5 / span 1 / span 2;
  margin-left: 6em;
  padding-top: 3em;
}

.footer-text1{
  color: #F6F8F9;
  letter-spacing: 0.18em;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.footer-text2{
    color: #F6F8F9;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 10px;
    line-height: 25px;
    margin-top: 0;
    text-align: left;
}

.icon{
  height: 45px;
  width: 45px;
  margin-right: 6px;
}
  ---------END OF test footer -------------------------- */

/* style_contact us----------*/
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding:100px;
    text-align: center;
    color: #fff;
    background: url(../img/background.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

.center {
    text-align: center;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}
/* end of style contact us-----------*/

/* sitewide contact us2 -----------*/

html,body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.container {
  /*width: 80%;
  max-width: 1200px;
  margin: 5em;   /*maybe 2em
  margin-right: auto;
  margin-left: auto;
  padding: 2em;
  background-color: #F0F0F0; */
  margin-bottom: 5em;
}


section{
  width: 80%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 2em;
}

/* nav{
  height: 100px;
  background: #51BBE8;
  color: #F6F8F9;
} */

.button_blue{
  background-color: #51BBE8; /* Green */
  border: none;
  color: #F6F8F9;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;  /*same size as the paragraph*/
  border-radius: 8px;
  letter-spacing: 5px;
}

h1 {
  text-align: center; 
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ------------------------------------------------------------ */
/* media query containing styles for larger screens */

@media (max-width: 1256px) {
.BlueArrow{
  display: none;
}

}

@media (max-width: 920px) {


  .header-subtitle{
  display: none;
}
.divider{
  display: none;
}

.section1-BG {
    height: 396px;
}

.header-title {
    padding-top: 3em;
}
}



@media (max-width: 720px) {
.section2{
  padding:0;
}
.Star_Yellow{
  display: none;
}

.left_kid{
  display: none;
}

.right_kid{
  display: none;
}

  }


  @media (max-width: 400px) {
.section1-BG{
    background-image: url(../img/Daisy/about_header.png);
    background-repeat: no-repeat;
    min-height: 505px;
    width: 100%;
  }

.header-title{
  text-align: left;
  padding-top: 4em;
}

}
/* -----------CN footer  media query----------
  @media (max-width: 400px) {

footer{
  background-image: url(../img/Daisy/Footer-CN-Mobile.png);
  min-height: 380px;
}

.footer-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}
.item6{
  grid-area: 2 / 1;
  padding-left: 2em;
  padding-top: 8em;
  margin-left: 0;
}
.footer-text2{
  display: none;
}
}
-----------END OF footer  media query----------*/




 /* end media query */
