/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */


/*	Generally, you will only want one container element in
	the document, wrapping around the main content area.
	If you have more than one container, you are probably doing
	something wrong.
*/
html,body{
	height: 100%;
}
.container {
	/*width: 80%;
	max-width: 1200px;
	margin: 5em;   /*maybe 2em
	margin-right: auto;
	margin-left: auto;
	padding: 2em;
	background-color: #F0F0F0; */
	margin-bottom: 5em;
}

/* CSS Document */

body {
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	}

#container {
	margin: 0 auto;
	max-width: 890px;
}
.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav {
	margin:0;
	padding: 0;
	background-color: #51BBE8;
	font-family: "Pingfang SC", sans-serif;
	align-items: center;
	justify-content: center;

}

#logo {
	display: block;
	height: 100px;
	width: 380px;
	float: left;
	background-image: url(../img/NAV-logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 3%;
	margin-top: 0.8%;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding-right: 3%;
	padding-top: 25px;
	margin:0;
	list-style: none;
	position: relative;
	}

/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #51BBE8;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;
	color:#F6F8F9;
	font-size: 1.2em;
	text-decoration:none;
}


nav ul li ul li:hover {
	/* background: #000000;  */
	text-decoration: none;
	text-decoration-color: #F6F8F9 solid 2px;
}

/* Background color change on Hover */
nav a:hover {
	/* background-color: #000000; */
	text-decoration: none;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute;
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */
	left:170px;
}


/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

.LanguageSwitch{
	padding-left: 0;
	padding-right: 0;
}


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 1062px) {
	#logo{
		width: 380px;
		margin-top: 0.5%;
	}

	nav a {
		padding:14px 20px;
		font-size: 1em;
	}

	nav{
		height: 80px;
	}

	nav ul{
		padding-top: 15px;

	}


}



@media all and (max-width : 980px) {
	#logo{
		width: 330px;
		margin-top: 0.7%;
	}

	nav a {
		padding:12px 12px;
		font-size: 0.95em;
	}

	nav{
		height: 75px;
	}

	nav ul{
		padding-top: 15px;

	}




}

@media all and (max-width : 834px) {

	#logo {
		display: block;
		padding: 0;
		width: 80%;
		text-align: center;
		float: none;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}

	nav {
		margin: 0;
		height: 150px;
		text-align: center;
	}

	nav a {
		padding:12px 12px;
		font-size: 1.1em;
	}


	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
		padding: 0;
	}

	.menu{
		float: none;
	}


	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #51BBE8;
		padding:13px 20px;
		color:#F6F8F9;
		font-size:1.1em;
		text-decoration:none;
		border:none;
		width:100%;
	}

	.toggle:hover {
		background-color: #FBF8EC;
		text-decoration: none;
		color: #51BBE8;

	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		padding:0;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		/* background-color: #000000; */
		text-decoration: none;
	}

	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;
		color:#F6F8F9;
		font-size: 1.1em;
		text-align: center;
	}


	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #51BBE8;
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #F6F8F9F6F8F9;
		/* has to be the same number as the "line-height" of "nav a" */
	}

	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}

	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */

	}

}

@media all and (max-width : 550px) {
	#logo {
		display: block;
		padding-top:20%;
		width: 90%;
		height: 80px;
		text-align: center;
		float: none;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}

}


@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 100%;
	}

	#logo{
		height:50px;

	}
	nav{
		height: 120px;
	}

}
/* ------------------------------------------------------------ */
/* media query containing styles for larger screens */



 /* end media query */
